* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px; 
}

body {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.smartphone-photo {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px;
}

.smartphone-photo img {
    height: 55rem;

}
.login-process {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
  }

.login-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px gainsboro;
    background-color: white;
    margin-bottom: 20px;  
}

.instagram-logo {
    width: 50%;
    align-self: center;
    margin: 20px 0;
}

.profile-photo {
    border-radius: 50%;
    width: 25%;
    align-self: center;
    margin-bottom: 20px;
}

.login-options a {
    margin-bottom: 20px;
}

.continue {
    color: white;
    background-color: dodgerblue;
    padding: 10px 15px ;
    border-radius: 5px;
    margin-top: 40px;
}

.subscribe {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: solid 1px gainsboro;
    background-color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}

.black a {
    font-weight: bold;
    color: black;
}

.download-app {
    display: flex;
    justify-content: center;
}

.get-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-app p {
    margin-bottom: 20px;
}

.download-btn {
    width: 150px;
    margin: 5px;
}
